@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Montserrat", sans-serif;
}

.search-box {
   margin-top: 2em;
   margin-bottom: 2em;
}

input {
   display: block;
   margin: auto;
   width: 60%;
   max-width: 800px;
   font-size: 1em;
   padding: 0.5em;
   border-radius: 5px;
   outline: none;
}

.photo-gallery {
   display: grid;
   grid-gap: 1em;
   grid-template-columns: 1fr;
   justify-items: center;
   max-width: 800px;
   margin: auto;
}

/* OVERRIDE LIGHTBOX OVERLAY
   ON SMALL SCREENS for EXCEEDS */
.lb-data .lb-caption {
   font-size: 1em;
   font-weight: bold;
   line-height: 1.5em;
}

/* MEDIA QUERIES =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@media (min-width: 768px) {
   .photo-gallery {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 3.5em;
   }

   input {
      display: block;
      margin-left: 25%;
      width: 45%;
      max-width: 800px;
      font-size: 1em;
      padding: 0.5em;
   }

   /* RESIZE OVERLAT TEXT ON
   LARGER SCREENS */
   .lb-data .lb-caption {
      font-size: 13px;
      font-weight: bold;
      line-height: 1em;
   }
}

@media (min-width: 1200px) {
   .photo-gallery {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 3.5em;
   }

   input {
      margin-left: 33%;
      width: 45%;
   }
}
